@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 15dvh;
    background-color: #6f826c;
}

.logoInicio{
    height: inherit;
    margin-left: 10px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width:  70%;
    margin-right: 10px;
    
}

.logo{
    padding: 5px 10px;
}

ul{
    list-style: none;
    
}

li > a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 5px;
}


/* 
!ITEM LIST */

h2{
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 1% 40%;
    color: #6f826c;
    font-size: 30px;
    font-weight: 100;
}

.productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 10px;
    background-color: #e0ecde;

}

/* ITEM */

.producto-item{
    background-color: #6f826c;
    border-radius: 10px;
    padding: 0 0 5px 0;
    margin: 10px;
}

.item-data{
    display: flex;
    flex-direction: column;
}

.item-description{   
    max-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.item-title{
padding: 5px;
}

.item-price{
padding: 5px;

}
.item-img{
    border-radius: 10px 10px 0 0;
}

.ver-mas{
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
}
.item-img{
    width: 100%;
    height: auto;
}

/* ITEM DETAILS */
.producto-detalle{
    display: flex;
}

.img-detalle{
    height: 140px;
    width: auto;
    margin: 15px;
}
.data-detalle{
    margin-top: 15px;

}

.titulo-detalle{
    font-size: 30px;
}

.descripcion-detalle{
    margin: 10px 0;
    font-style: italic;
}

.precio-detalle{
    font-weight: bold;
}

.btn-comprar-detalle{
    margin: 5px 0;
    background-color: #48e;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.item-count{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-pequeño{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: none;
}
.cantidad-counter{
    padding: 10px;
    margin: 2px;
}
.agregar-al-carrito{
    padding: 10px;
    border-radius: 10px;
}
button{
    background-color: #48e;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #fff;
    color: #48e;
    border: 2px solid #48e;
}

/* FORMULARIO */

.contacto{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
}

input{
    width: 220px;
    padding: 6px 12px;
    margin-top: 10px;
    border-radius: 10px;
}

button{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.inicio{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.portada-principal{
    background-image: url('imagenes/FondoInicio.jpeg');
    background-size: cover;
    height: 100dvh;
    object-fit: cover;
    opacity: .7;
    display: flex;
    flex-direction: column;
    
}
.portada-principal::after {
    content: '';
    position: absolute;
    top: 15dvh;
    left: 0;
    width: 100%;
    height: 102%;
    background-color: #6f826c;
    opacity: 0.4;
    background-size: cover;

  }

.texto-portada{
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    align-items: center;
    margin: 70px 20px;
}

.boton-productos{
    background-color: #485a46;
    border-radius: 10px;
    margin: 70px 20px;
    color: #fff;
    border: 2px #fff solid;
    width: 10rem;
    padding: 10px;
    z-index: 40;
}

.destacados{
    margin: 30px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.destacado{
    color: #6f826c;
    font-size: 20px;
    font-family: sans-serif;
}

.destacado i{
    color: #000;
}
.foto-torno{
    background-image: url('imagenes/torno.jpg');
    height: 200px;
    background-size: cover;
    opacity: 0.9;
}

.titulo-categorias{
    color: #6f826c;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
}

.tarjetas-categorias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-self: center;
    padding-bottom: 100px;
}

.contenedor-tarjeta{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 40vw;
    max-width: 200px;
    margin: 20px;
}

.contenedor-tarjeta img{
    height: auto;
    margin: 0;
}
.contenedor-tarjeta button{
    margin: 0;
    border-radius: 0;
    width: inherit;
    max-width: 200px;
    border: 2px solid white;
    background-color: #6f826c;
}

.footer{
    background-color: #444;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.iconos-footer {
    color: #fff;
    margin: 10px;
}

.logo-instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    margin: 10px;
}

.logo-instagram p{
    text-decoration: none;
    color: white;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-footer{
    margin: 10px;
    color: #fff;
}

.logo-footer{
    height: 100px;
}

.reviews-carousel {
height: auto;
width: 100%;
margin: 0 auto;
text-align: center;
background-color: #fff;
margin-bottom: 40px;
}

.review {
padding: 20px;
background-color: #f9f9f9;
border-radius: 10px;
}

.slick-dots li button:before {
  color: #3dba2a; /* Cambia el color de los puntos de navegación */
}

.slick-prev:before,
.slick-next:before {
  color: #6f826c; /* Cambia el color de las flechas */
}
